@charset "UTF-8";
/* 用法 @include respond-to('尺寸(ex:sm,xs..)')*/


#pk10 .so-m-t-left {width: 2.5rem; }
#pk10 .so-m-t-left div:first-child {width: 2.3rem; }
#pk10 .so-m-t-right {width: 7.5rem; }



#pk10 .pk10_top_detail {
  margin-left: 0.1rem; }
  #pk10 .pk10_top_detail li {
    font-size: 0.3rem;
    width: 0.7rem;
    margin-top: 0.07rem; }
#pk10 .so-main-down li:first-child p {
  width: 2.3rem;
  margin-right: 0.12rem;
  white-space: nowrap}
#pk10 .select-li {
  height: auto;
  padding-top: 0.3rem; }

#pk10 .play_th .double-count li {width: 0.65rem; margin-left: 0; font-size: 0.3rem; }

#pk10 .ds_long .prod > div {
  width: 4rem; }
  #pk10 .ds_long .prod > div:last-child {
    width: auto; }
#pk10 .ds_long .lo_ball {
  margin: 0px; }
  #pk10 .ds_long .lo_ball li {
    font-size: 0.5rem;
    width: auto; }
  #pk10 .ds_long .lo_ball .pk10_ball {
    transform: scale(1.2);
    margin-top: 0.25rem; }
#pk10 .tab_mid {
  white-space: nowrap;
  overflow-x: scroll; }


#pk10 .pk10_top_number li{ margin-top: 0.3rem; margin-left: -3px; transform: scale(0.85)}


